@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.kepala {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid black;
  font-family: "Lobster", cursive;
}
.kepala .logo-kepala {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  background: -webkit-linear-gradient(blue, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
}
.kepala .menu-kepala {
  color: black;
  margin: 20px;
  font-size: 2rem;
  text-decoration: none;
  flex-direction: column;
  display: none;
}
@media screen and (min-width: 767px) {
  .kepala .logo-kepala {
    font-size: 6rem;
    margin: 20px;
  }
  .kepala .menu-kepala {
    display: inline;
    margin: 50px;
  }
  .fa-bars {
    display: none;
  }
}
.fa-bars {
  margin-right: 15px;
}
#main {
  font-family: "Stint Ultra Condensed", cursive;
}
.subtitle {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  margin: 5px auto;
}
#img-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#image {
  max-width: 100%;
  border-radius: 10%;
  display: block;
}
#main #title {
  text-align: center;
  font-size: 2rem;
  color: #0f2027;
  margin-bottom: 5px;
}
#main h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(blue, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#img-caption {
  margin: 0;
  font-style: italic;
  font-size: 0.5rem;
}
#tribute-info {
  width: 90%;
  margin: 2rem auto;
  padding: 0 20px;
  font-size: 0.8rem;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  line-height: 200%;
}
#tribute-info .fbtwit {
  background-color: transparent;
  height: 200px;
  width: 200px;
  margin: 0.5rem;
}
.fllw {
  margin-top: 10px;
  text-align: center;
}
.fllw1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fllw2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagef2 {
  background-color: transparent;
  height: 40px;
  width: 40px;
}
.imagef1 {
  background-color: transparent;
  height: 40px;
  width: 40px;
}
hr.new4 {
  border: 1px solid black;
}
footer {
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.videos-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .subtitle {
    font-size: 3rem;
  }
  #main #title {
    font-size: 5rem;
    color: #0f2027;
  }
  #img-caption {
    font-size: 2rem;
  }
  #tribute-info {
    font-size: 2rem;
  }
  .imagef1 {
    background-color: transparent;
    height: 80px;
    width: 80px;
  }
  .imagef2 {
    background-color: transparent;
    height: 80px;
    width: 80px;
  }
  .fllw {
    margin-top: 150px;
    text-align: center;
  }
  footer {
    font-size: 2rem;
  }
}
